<div class="header">
    <div class="container">
        <h1>Creating SVG Tiles</h1>
        <h6>...Using Angular 2+ Templates</h6>
    </div>
</div>
<div class="container">
    <ngb-tabset>
        <ngb-tab title="Home">
            <ng-template ngbTabContent>
                <h3>Rendered SVG Tiles</h3>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="tiles-display">
                            <dynamic-view class="" [tools]="dataTools" [template]="composeSVGTemplate()"></dynamic-view>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button (click)="template = changedTemplate" class="float-right">Render</button>
                        <h3>SVG Template</h3>
                        <svg-editor [content]="template" (change)="changedTemplate = $event"></svg-editor>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Info">
            <ng-template ngbTabContent>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>