<div class="header">
    <div class="container">
        <h1>Creating SVG Tiles</h1>
        <h6>...Using Angular 2+ Templates</h6>
    </div>
</div>
<div class="container">
    <ngb-tabset #tabset="ngbTabset"
                destroyOnHide="false">
        <ngb-tab id="home" title="Home">
            <ng-template ngbTabContent>
                <div class="save-svg">
                    <a href="#" (click)="saveSvg()">
                        <svg height="23" width="21">
                            <path stroke="#009999"
                                stroke-width="1"
                                fill="none"
                                d="M 10 0 L 10 20 M 0 10 L 10 20 M  20 10 L 10 20
                                    M 0 18 L 0 22 L 20 22 L 20 18"
                            ></path>
                        </svg>
                        Save SVG
                    </a>
                </div>
                <h3>Rendered SVG Tiles</h3>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="tiles-display" #renderedView>
                            <div class="tiles-display-text-top">
                                Grid of 3x3 tiles<br>
                                <input type="checkbox" (change)="showTileBorders=$event.target.checked"> show tile borders
                            </div>
                            <dynamic-view [tools]="dataTools" [template]="composeSVGTemplate()"></dynamic-view>
                            <div class="tiles-display-options-bottom">
                                <form [formGroup] = "dimensionsForm"
                                      (ngSubmit)="onDimensionsSubmit()" 
                                      class="tile-dimensions-form" 
                                      action="#">
                                    <div class="row no-gutters">
                                        <div class="col-sm-auto">
                                            <label for="tilewidth">Tile width (px)</label>
                                            <input type="number" min="0" formControlName="tileWidth" id="tilewidth">
                                        </div>
                                        <div class="col-sm-auto">
                                            <label for="tileheight">Tile height (px)</label>
                                            <input type="number" min="0" formControlName="tileHeight" id="tileheight">
                                            <input type="submit" value="s" style="display: none">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button (click)="template = changedTemplate" class="float-right">Render</button>
                        <h3>SVG Template</h3>
                        <svg-editor [content]="template" (change)="changedTemplate = $event"></svg-editor>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Info">
            <ng-template ngbTabContent>
                <info-tab (editRequest)="infoEditRequest($event)">
                </info-tab>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>