<div class="header">
    <div class="container">
        <h1>Creating SVG Tiles</h1>
        <h6>...Using Angular 2+ Templates</h6>
    </div>
</div>
<div class="container">
    <ngb-tabset>
        <ngb-tab title="Home">
            <ng-template ngbTabContent>
                <h3>Rendered SVG Tiles</h3>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="tiles-display">
                            <div class="tiles-display-text-top">
                                Grid of 3x3 tiles<br>
                                <input type="checkbox" (change)="showTileBorders=$event.target.checked"> show tile borders
                            </div>
                            <dynamic-view class="" [tools]="dataTools" [template]="composeSVGTemplate()"></dynamic-view>
                            <div class="tiles-display-options-bottom">
                                <form [formGroup] = "dimensionsForm"
                                      (ngSubmit)="onDimensionsSubmit()" 
                                      class="tile-dimensions-form" 
                                      action="#">
                                    <div class="row no-gutters">
                                        <div class="col-sm-auto">
                                            <label for="tilewidth">Tile width (px)</label>
                                            <input type="number" min="0" formControlName="tileWidth" id="tilewidth">
                                        </div>
                                        <div class="col-sm-auto">
                                            <label for="tileheight">Tile height (px)</label>
                                            <input type="number" min="0" formControlName="tileHeight" id="tileheight">
                                            <input type="submit" value="s" style="display: none">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button (click)="template = changedTemplate" class="float-right">Render</button>
                        <h3>SVG Template</h3>
                        <svg-editor [content]="template" (change)="changedTemplate = $event"></svg-editor>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Info">
            <ng-template ngbTabContent>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>